{% extends 'base.html' %}

{% block head %}

    {{ super() }}
    <link rel="stylesheet" href="/static/style/menu_principal_usuario.css">

{% endblock %}


{% block content %}
    <br>
        <br>
        <br>
        <br>
        <br>
        <div class="d-flex login_box">
            <div class="login_msg">
                <h1 class="fs-1 fw-bold text_color ">Foro de poemas</h1>
            </div>
            <div class="d-flex flex-column links login_msg">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Contraseña:</label>
                    <input type="email" class="form-control" id="exampleFormControlInput1">
                </div>
                <a href="/usr" class="btn btn-primary ajuste_boton">Ingresar</a>
            </div>
        </div>
{% endblock %}