{% extends 'base.html' %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/static/style/menu_principal_usuario.css">
{% endblock %}

{% block content %}

  <header class="header1">
    <nav class="nav d-flex">
      <div class="ajuste_foro">
        <a class="flex-sm-fill text-sm-center nav-link foro" aria-current="page" href="/">Foro de poemas</a>
      </div>
      <div class="ingresar">
        <a class="flex-sm-fill text-sm-center nav-link links"href="/login">Ingresar</a>
      </div>
    </nav>
  </header>
  <br>
  <div class="d-flex justify-content-between">
    <div>
      <p class="links texto">Lista de poemas</p>
    </div>
    <div class="nav-busqueda">
      <form action="post">
        <input class="links" type="text" name="buscar" id="buscar" placeholder="Ingrese texto">
        <button class="links" type="button">Buscar</button>
      </form>
      <div class="dropdown">
        <button class="links btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Filtros
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Filtro 1
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Filtro 2
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Filtro 3
              </label>
            </div>
          </li>
        </ul>
      </div>
      <div class="dropdown">
        <button class="links btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Ordenamientos
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Fecha ascendente
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Fecha descendente
              </label>
            </div>
          </li>
          <li>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
              <label class="form-check-label" for="flexCheckDefault">
                Filtro 3
              </label>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <br>
  {% for poema in poemas %}
    <div class="caja_poema">
      <div class="d-flex justify-content-between">
        <div>
          <p>Título: {{poema.Titulo}}</p>
        </div>
        <div>
          <p>Autor: {{poema.Autor.Nombre}}</p>
        </div>
        <div class="d-flex">
          <p>{{poema.Puntaje}}</p>
          <img class="estrella" src="/static/img/estrella.png" width="30px" height="25px">
        </div>
        <div>
          <a href="/ver-poema/{{poema.ID_Poema}}" class="btn btn-outline-primary">Ver más</a>
        </div>
      </div>
    </div>
    <br>
    {% endfor %}

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>

{% endblock %}